* {
    font-family: 'Gowun Dodum', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* nav bar */
#navBtn {
    border: 1px solid gray;
    border-radius: 20px;
    background-color: aliceblue;
}

#navBtn:hover {
    background-color: #fff;
}

#navBtn- {
    text-decoration: none;
    color: black;
}

#profilebox {
    width: 150px;
}

.nav_btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.nav_btn:hover {
    background-color: gray;
}

.nav_item {
    display: none;
    width: 140px;
    height: 80px;
    background-color: #fff;
    list-style: none;
}

#nav-box {
    border: 1px solid gray;
    border-radius: 5px;
}

#nav-box:hover {
    background-color: gray;
}

#nav-line {
    text-decoration: none;
    color: black;
}

.opener {
    display: none;
}

.opener:checked~.nav_item {
    display: block;
}

.opener:checked~.nav_item {
    display: block;
}


/* auth */
#authPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.authInput {
    margin-bottom: 10px;
    align-items: center;
}

.socialBtns {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#socialbtn {
    border-radius: 20px;
    border: none;
    background-color: #fff;
}

#socialbtn:hover {
    transform: scale(1.2);
}

#authToggle {
    background-color: #fff;
    margin: 10px 0;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 5px;
}

#authToggle:hover {
    transform: scale(1.2);
}

#autBtnSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#authWrapper {
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(235, 233, 234);
    min-width: 350px;
}

#authTitle {
    text-align: center;
    font-size: large;
}

#authBtn {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#authBtn:hover {
    transform: scale(1.2);

}

/* review style */
.postNav{height: 100px; display: flex;justify-content: right;}
.postNav #goMainBtn{ margin: 5px; border-radius: 20px; padding: 5px 20px; margin-left: 20px;}

.post-container{
    width: 50%;
    height: 600px;
    margin: auto;
    border: 1px solid gray;
    padding: 50px 50px;
    margin-top: 50px;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
#nickname { 
    margin-left: 10px; 
    font-size: 20px; 
    vertical-align:middle;
}
.form-floating{ margin-bottom: 25px;}

.form-floating label{ margin-left: 5px; font-size: 15px; }

#submitBtn{
    display: flex; 
    float: right; 
    
    border-radius: 20px; 
    padding: 5px 30px;
}

.updateBtns {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  gap: 5px;
}

.noDisplay {
  display: none;
}
.updateBtn {
  min-width: 70px;
}

#review-list {
  width: 1400px;
  margin: 20px auto;
}

.cmtImg {
  border-radius: 50%; 
  margin-right: 10px;
}

  /* 임시 profile */
  #profileImg {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  #profilePage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #profileWrapper {
    width: auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
  }
  #profileWrapper > h2 {
    text-align: center;
  }
  
  #profileView {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  #profileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  #imgInput {
    display: none;
  }
  
  #imgLabel {
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  /* 카드 디자인 */
  .commentCard {  
    max-width: 1400px;
    margin: 50px auto 0;
  }
  .card-body {
      background: url(https://movie-phinf.pstatic.net/20221109_104/16679823446027N0KD_JPEG/movie_image.jpg) 20% 1% / cover no-repeat;
      background-color: white;
      min-height: 600px;
      position: relative;
      overflow: hidden;
      box-shadow: 0 19px 38px rgba(164, 164, 164, 0.5), 0 15px 12px rgba(164, 164, 164,0.3);
      margin-right: 40px;
      margin-bottom: 50px;
      float: left;
      padding: 0 1.3rem;
      width: 550px;
    }
    .card-body:hover .content {
      background: linear-gradient(to top, black, 20%, rgba(0,0,0,0));
      transform: translateY(40px);
    }
    .option-card {
      margin: 0 5px;
      position: relative;
      float: right;
      font-size: 24px;
    }
    .card-body:hover .option-card span{
    transform: translate(-50%, -10px);
    opacity: 1;
    }
    .card-body .cmtAt{
      float: left;
      font-size: 14px;
      padding: 10px;
      font-weight: 500;
      color: white;
    }
    .card-body .nick-n {
      font-size: 12px;
    }
    .option-card span{
      transition: all 0.3s;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
    .mb-0 {
      color: white;
      transform: translateY(calc(200px + 4em));
    }
    .card-body .title{
        margin-top: 10px;
        color: white;
      }
    .card-body .review-text{
      text-overflow: ellipsis;
      height: 70px;
      margin: 0;
      }
    .card-body .content {
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateY(calc(70px + 1em));
      transition: transform 0.3s;
      padding: 1em;
      position: relative;
      z-index: 1;
    }
    .card-body #card-btn {
      display: flex;
      width: 120px;
      margin: 2em auto 1em;
      text-align: center;
      font-size: 12px;
      color: white;
      line-height: 1;
      position: relative;
      font-weight: 700;
      }
      .card-body #card-btn::after {
        content: '\2192';
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s;
      }
      .card-body #card-btn:hover .card-body #card-btn::after {
          transform: translate(5px, -50%);
          opacity: 1;
        }
      